@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

#submission {
    align-content: flex-start;
    left: 8.5vw;
    display: block;
    position: absolute;
    text-align: left;
    width: 83vw;
    margin: 0 auto;
    top: 11.6vh;
    margin-bottom: 0;
}

#intro {
    margin-top: 0;
    margin-bottom: 3vh;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 34.67px;
    color: #FFFFFF;
}

label {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 22.5px;
    line-height: 30px;
    padding: 0px 20px;
    color: #FFFFFF;
}

textarea {
    width: 26.38vw;
    height: 4vh;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 16.5px;
    padding: 0.6vh 1vw 0vh 1vw;
    color: #FFFFFF;
    resize: none;
    background: rgba(255, 255, 255, 0.17);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 33px;
    margin-bottom: 3vh;
}

#description-text-input {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 16.5px;
    color: white;
    height: 8vh;
    width:45.59vw;
    columns: 40;
    row-gap: 5;
}

input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
}

#consent {
    display:inline-block;
    vertical-align: middle;
}

#can-contact-checkbox {
    margin: auto;
    background: rgba(255, 255, 255, 0.21);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

#submit-button {
    height: 4.82vh;
    width: 10.74vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

#spinner {
    border: #FFFFFF solid 2px;
    position: relative;
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

  /* WebKit and Opera browsers */
@-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
}

  /* all other browsers */
@keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
}

#picture {
    object-fit: cover;
    height: 32.45vh;
    width: 19.69vw;
    margin: 3.13vh 2.82vw 1.7vh 2.82vw;
}

#caption {
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    height: 20px;
}

#caption-border {
    background-image: url("../../../../static/images/Rectangle-10.png");
    text-align: center;
    margin: 0 auto;
    height: 32px;
    width: 174px;
    margin-bottom: 1.7vh;
    background-size: 100% 100%;
    
    border: 1px #FFFFFF;
    box-sizing: border-box;
}