@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

#nominate-page {
    background-image: url("../../../static/images/nominate-background.jpg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    color: white;
    text-align: center;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}

footer {
    margin-top: 85.6vh;
    height: 7.79vh;
    text-align: center;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}