@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

#contact-us-page {
    background-image: url("../../../static/images/contact-us-background.png");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
}