@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display');

#header {
    width:100vw;
    height:10vh;
    border: solid hidden;
    font-family: Red Hat Display;
    font-style: normal;
    display: inline;
}

#hand-image {
    object-fit: contain;
    position: relative;
    float: left;
    height: 9vh;
    width: 9vh;
}

h1 {
    float: left;
    font-weight: bold;
    margin-left: 0.5vw;
    font-size: 40px;
    line-height: 40px;
}

#links-bar {
    margin-top: 3.5vh;
    vertical-align: middle;
}

#header-link {
    font-family: Red Hat Display;
    font-weight: lighter;
    display: inline;
    font-size: 20px;
    line-height: 24px;
    list-style-type: none;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    margin-left: 2vw;
    padding: 1.2vw;
}