#home3 {
    background:url("../../../static/images/home3-background.png");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    overflow-y: scroll;
}

#Nominate {
    position: absolute;
    width: 84px;
    height: 40px;
    margin-left: 128px;
    top: 225px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #FFFBFB;
    
}

#Description3 {
    position: absolute;
    width: 583px;
    height: 230px;
    margin-left: 128px;
    top: 278px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 79px;
    color:#CBEFFF;
}

#frame3 {
    position: absolute;
    height: 450px;
    width: 475px;
    left:890px;
    margin-top:110px;
}

#main_picture3 {
    position: absolute;
    width: 392px;
    height: 359px;
    left:932px;
    margin-top: 160px;
}

#date {
    position: absolute;
    width: 123px;
    height: 26px;
    margin-left: 129px;
    margin-top: 50px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFDFD;
}

#time{
    position: absolute;
    width: 83px;
    height: 26px;
    margin-left: 127px;
    top: 40px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFDFD;
}

#learnmore {
    position: absolute;
    width: 135px;
    height: 50px;
    left: 620px;
    margin-top: 550px;
}

#lmbutton{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 40px;
    position:absolute;
    cursor:pointer;
    height:35px;
    width:140px;
    font-weight:bold;
}

#Nominatetag{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin-top: 620px;
    color: #FFFBFB;
    margin-left: 85%;
    position:absolute;

}

#threecircle1{
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius:9.75px;
    margin-left: 78.2%;
    margin-top:650px;
    border: 1px solid #CBEFFF;
}

#threeline1{
    position: absolute;
    margin-left: 79.5%;
    margin-top: 659px;
    width: 38.79px;
    border: 1px solid #CBEFFF;
}

#threecircle2{
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius:9.75px;
    border: 1px solid #CBEFFF;
    margin-left: 82%;
    margin-top:650px;
}

#threeline2{
    position: absolute;
    margin-left: 83.25%;
    margin-top: 659px;
    width: 38.79px;
    border: 1px solid #CBEFFF;
}

#threecircle3{
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius:9.75px;
    margin-left: 86%;
    margin-top:650px;
    background-color:#CBEFFF;
}

#threeline3{
    position: absolute;
    margin-left: 87.3%;
    margin-top: 659px;
    width: 38.79px;
    border: 1px solid #CBEFFF;
}

#threecircle4{
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius:9.75px;
    border: 1px solid #CBEFFF;
    margin-left: 90%;
    margin-top:650px;
}

#doublearrow{
    position: absolute;
    width: 25px;
    height: 29px;
    margin-left: 375px;
    top: 85px;

}

#pause{
    position:absolute;
    background-color: transparent;
    border:none;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow:hidden;
    box-shadow: none;
    color:white;
    font-size:30px;
    width:30px;
    height:30px;
    left: 152px;
    margin-top:0px;
}

#play{
    position:absolute;
    background-color: transparent;
    border:none;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow:hidden;
    box-shadow: none;
    color:white;
    font-size:30px;
    width:60px;
    height:60px;
    left:178px;
    top:150px;
}