#home4 {
    background:url("../../../static/images/home4-background.png");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    overflow-y: scroll;
}

#old_entries {
    position: absolute;
    width: 150px;
    height: 40px;
    margin-left: 128px;
    top: 225px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #FFFBFB;
    
}

#Description4 {
    position: absolute;
    width: 583px;
    height: 230px;
    margin-left: 128px;
    top: 278px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 79px;
    color: #F6B6B6;
}

#frame4 {
    position: absolute;
    height: 450px;
    width: 475px;
    margin-left:670px;
    margin-top:110px;
}

#main_picture4 {
    position: absolute;
    width: 392px;
    height: 359px;
    margin-left:717px;
    margin-top: 160px;
}

#date {
    position: absolute;
    width: 123px;
    height: 26px;
    margin-left: 129px;
    margin-top: 50px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFDFD;
}

#time{
    position: absolute;
    width: 83px;
    height: 26px;
    margin-left: 127px;
    top: 40px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFDFD;
}

#learnmore {
    position: absolute;
    width: 135px;
    height: 35px;
    left: 614px;
    top: 100px;
}

#lmbutton{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 40px;
    position:absolute;
    cursor:pointer;
}

#old_entries_tag{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin-top: 620px;
    color: #FFFBFB;
    margin-left: 87%;
    position:absolute;

}

#fourcircle1{
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius:9.75px;
    margin-left: 78.2%;
    margin-top:650px;
    border: 1px solid #C4C4C4;
}

#fourline1{
    position: absolute;
    margin-left: 79.5%;
    margin-top: 659px;
    width: 38.79px;
    border: 1px solid #C4C4C4;
}

#fourcircle2{
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius:9.75px;
    border: 1px solid #C4C4C4;
    margin-left: 82%;
    margin-top:650px;
}

#fourline2{
    position: absolute;
    margin-left: 83.25%;
    margin-top: 659px;
    width: 38.79px;
    border: 1px solid #C4C4C4;
}

#fourcircle3{
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius:9.75px;
    margin-left: 86%;
    margin-top:650px;
    border: 1px solid #C4C4C4;
}

#fourline3{
    position: absolute;
    margin-left: 87.3%;
    margin-top: 659px;
    width: 38.79px;
    border: 1px solid #C4C4C4;
}

#fourcircle4{
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius:9.75px;
    margin-left: 90%;
    margin-top:650px;
    background-color:#C4C4C4;
}

#doublearrow{
    position: absolute;
    width: 35px;
    height: 33px;
    margin-left: 375px;
    top: 85px;

}

#pause{
    position:absolute;
    background-color: transparent;
    border:none;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow:hidden;
    box-shadow: none;
    color:white;
    font-size:30px;
    width:30px;
    height:30px;
    left: 152px;
    margin-top:0px;
}

#play{
    position:absolute;
    background-color: transparent;
    border:none;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow:hidden;
    box-shadow: none;
    color:white;
    font-size:30px;
    width:60px;
    height:60px;
    left:178px;
    top:150px;
}